/*Fonts*/
@font-face {
    font-family: Neou;
    src: url("fonts/Neou-Bold.ttf")
}
@font-face {
    font-family: GeoSans;
    src: url("fonts/GeosansLight.ttf")
}


/*Header*/
#main-header {
    background-image: url("images/bg small tower.jpg");
    width:80%;
    height:480px;
    font-family: Karmina;
    padding-bottom:220px;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#fbimg {
    width:225px;
    top:290px;
    position:relative;
}
a:hover #fbimg {
    width:235px;
}
#main-button {
    width:50%;
    color:white;
    position:relative;
    top:325px;
    left:25%;
    right:25%;
    font-size:30px;
}
#main-button button p {
    font-family:Karmina;
    margin-bottom: -10px;
}
#main-button button {
    background-color:#295925;
    width:335px;
    border-color: white;
    border-width:5px;
    box-shadow:3px 3px 2px black;
}
#main-button button:hover {
    width:345px;
    height:50px;
}

/*Nav*/

#navbar {
    background-color: #568c52;
    width:100%;
}

#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #568c52;
    position:relative;
    margin: 0 auto;
    font-size:25px;
    font-family: Neou;
    width:620px;
}
#navlist li {
    float:left;
    background-color:#366832;
}
#navlist li a {
    display:block;
    color:white;
    padding:16px;
    padding-top:20px;
    text-decoration:none;
}

#navlist li a:visited {
    text-decoration: none;
    color:white;
}
#navlist li a:hover {
    background-color:#295925;
    text-decoration: none;
    color:white;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

/*Home*/
#front-info-left {
    font-family:GeoSans;
    z-index:1;
    font-size:22px;
}
#front-info-right {
    font-family:GeoSans;
    z-index:1;
    font-size:22px;
}

#breaker {
    margin-top:-100px;
    margin-bottom:-120px;
    left:20%;
    right:20%;
    position:relative;
    width:750px;
    height:300px;
    z-index:-1;
}
#latest {
    font-size:22px;
}

/* Base Changes */
body {
    background-color:#bbe5a7;
    color:darkslategray;
    font-family: 'Lato', sans-serif;
}




/*Section Header*/
#secthead {
    font-family:Lato;
    font-size:45px;
    text-align: center;
    padding:-5px;
   
}

#discl {
    font-size:22px;
    color:#d10a00;
}

/*About*/
#aboutinfo p {
    font-size:22px;
}

/*Help*/
#helpinfo {
    font-size:26px;
}


/*Contact*/
#contactinfo {
    font-size:26px;
}


#imgs {
    width:20%;
}


#footer {
    padding-top:150px;
}
